<!DOCTYPE html>
<html lang="en">
<head>
  <title>MOPAT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>FewclicKs</h1>
  <p>To move!</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">MoPAT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'static' %}">Static</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./dynamic.html">Dynamic</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top:30px">


      <h2>Description</h2>

      <!--<div class="fakeimg">Fake Image</div>-->
      <p>Follow the steps to make the bots move.</p>
      <p><h5>Dynamic :</h5> Click on the screen to plot the shape. </p>
      <p><h5>Dynamic :</h5> Click on the screen to move the bots at different points. </p>
      <br>
      <h2>Team MoPAT</h2>
      <h5></h5>
      <!--<div class="fakeimg">Fake Image</div>-->
      <p>We are team MoPAT</p>
      <p></p>
    </div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>By team MoPAT</p>
</div>

</body>
</html>
